@tailwind base;
@tailwind components;
@tailwind utilities;



/* تأثير التحريك للعناصر المتحركة */
@keyframes blob {
    0% {
      transform: translate(0, 0) scale(1);
    }
    50% {
      transform: translate(10%, 10%) scale(1.1);
    }
    100% {
      transform: translate(0, 0) scale(1);
    }
  }
  
  /* إضافة التأثيرات كفئات TailwindCSS مخصصة */
  .animate-blob {
    animation: blob 20s infinite;
  }
  
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-4000 {
    animation-delay: 4s;
  }
  
  .animation-delay-6000 {
    animation-delay: 6s;
  }