@tailwind base;
@tailwind components;
@tailwind utilities;

.container-custom {
  @apply mx-auto px-3 w-full; /* استخدام TailwindCSS classes بدلاً من القيم اليدوية */
}

@layer utilities {
  .font-cairo {
    @apply font-cairo; /* استخدام الفئة المعرفة في tailwind.config.js */
  }
}

/* ضبط الأنماط الافتراضية للصفحة */
body {
  font-family: 'Cairo', sans-serif;
  direction: rtl;
  text-align: right;
}
